body {
    background-image: url(likod.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;

}
.headline {
    display: inline-block;
    color: white;
    padding-top: 5px;
}
.logo {
    height: 60px;
    width: auto;
    margin-left: 20px;
    margin-top: 15px;
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
}
.home {
       
       border: 0.23em solid rgba(255, 255, 255, 0.632);
       border-radius: 1em;
       background-color: black;
       margin-left: 50px;
       position: relative;
       font-size: 15px;
       font-weight: bold;
       padding: 1em 3em;
       color: white;
       cursor: pointer;
       transition: all 0.3s;
}
.home:hover {
        color: black;
        background-color: white;
}
.html1 {
        border: 0.23em solid rgba(255, 255, 255, 0.632);
       border-radius: 1em;
       background-color: white;
       margin-left: 50px;
       position: relative;
       font-size: 15px;
       font-weight: bold;
       padding: 1em 3em;
       color: black;
       cursor: pointer;
       transition: all 0.3s;
}
.html1:hover {
        color: whitesmoke;
        background-color: black;
}
.css {
        border: 0.23em solid rgba(255, 255, 255, 0.632);
        border-radius: 1em;
        background-color: black;
        margin-left: 50px;
        position: relative;
        font-size: 15px;
        font-weight: bold;
        padding: 1em 3em;
        color: white;
        cursor: pointer;
        transition: all 0.3s;
 }
 .css:hover {
         color: black;
         background-color: white;
}
.javascript {
        border: 0.23em solid rgba(255, 255, 255, 0.632);
        border-radius: 1em;
        background-color: black;
        margin-left: 50px;
        position: relative;
        font-size: 15px;
        font-weight: bold;
        padding: 1em 3em;
        color: white;
        cursor: pointer;
        transition: all 0.3s;
 }
 .javascript:hover {
         color: black;
         background-color: white;
}
.hyper {
    color: white;
}
.ulo{
    height: 130px;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 9999;
}


